<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wave_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,2},{198,18}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,11},{198,18}}</string>
                <key>sourceSize</key>
                <string>{200,40}</string>
            </dict>
            <key>wave_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{198,32}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{198,32}}</string>
                <key>sourceSize</key>
                <string>{200,40}</string>
            </dict>
            <key>wave_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,36},{198,32}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{198,32}}</string>
                <key>sourceSize</key>
                <string>{200,40}</string>
            </dict>
            <key>wave_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{198,32}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{198,32}}</string>
                <key>sourceSize</key>
                <string>{200,40}</string>
            </dict>
            <key>wave_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{198,32}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{198,32}}</string>
                <key>sourceSize</key>
                <string>{200,40}</string>
            </dict>
            <key>wave_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{198,28}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{198,28}}</string>
                <key>sourceSize</key>
                <string>{200,40}</string>
            </dict>
            <key>wave_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{198,26}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{198,26}}</string>
                <key>sourceSize</key>
                <string>{200,40}</string>
            </dict>
            <key>wave_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{198,26}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{198,26}}</string>
                <key>sourceSize</key>
                <string>{200,40}</string>
            </dict>
            <key>wave_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{198,20}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{198,20}}</string>
                <key>sourceSize</key>
                <string>{200,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wave_big.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:68426881875d3e0cb62cb8fb0b4ecc84:1/1$</string>
            <key>textureFileName</key>
            <string>wave_big.png</string>
        </dict>
    </dict>
</plist>
